@charset "UTF-8";
body {
  font-size: 16px;
  font-family: "小塚ゴシックQuicksand’, ‘ヒラギノ角ゴシック’, ‘メイリオ’ ,sans-serif";
  color: #333333;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 36px;
  color: #5d3c28;
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: center;
}

/*  ヘッダー  */
.header-top {
  display: flex;
  justify-content: space-between;
}

.header-right-nav nav ul {
  display: flex;
}

.header-right-nav nav ul li {
  display: fl;
}

/*  title */
.title p {
  max-width: 792px;
  margin: 0 auto;
}

/*  title1 */
.image-items {
  display: flex;
}

.image-item {
  max-width: 400px;
  margin: 30px;
}

.image-item img {
  max-width: 400px;
}

/*  title2 */
.title2-item {
  display: flex;
}

.title2-item img {
  max-width: 613px;
}

.title2-item-reverse {
  display: flex;
  flex-flow: row-reverse;
}

/*  title4 */
.title4-left-sns img {
  width: 33px;
  height: 33px;
}
